/* colores de las toolbar y de los segmentos*/ 
ion-toolbar{
    --background: linear-gradient(to bottom left, var(--ion-color-primero), var(--ion-color-tercero));
    --color: white;
    text-align: center;
}

ion-segment{
    --background: linear-gradient(to bottom left, var(--ion-color-tercero), var(--ion-color-primero));
}


/* colores de los botones para ingresar a la paginas */
.boton1{
    --color: white;
}

.boton2{
    --color: white;
}

.boton3{
    --color: white;
}

/* titulos centrados */
h2{
    text-align: center;
}

/* pagina 1 */
.p1{
    text-align: justify;
    transform: translateY(20px);
}

.p1-1{
    text-align: justify;
    transform: translateY(20px);
}

.cajita1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajita1 img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
}

.cajita2{
    flex-shrink: 0; 
    display: flex;
    align-items: center;
}


.cajita2 img{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.p1-2{
    margin-top: 35PX;
    margin-left: 15PX;
}

.p1-3{
    text-align: justify;
}

/* pagina 2 */

.caja2{
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-button{
        margin-top: 300px;
        --background: var(--ion-color-tercero);
        --bakground-hover: var(--ion-color-tercero-tint);
        --color: white;
        --border-radius: 8px;
        --padding-start: 24px;
        --padding-end: 24px;
        --box-shadow: 0 4px 12 px rgba(255,255,255); 
    }
}

/*pagina 3 */